#creditCard {
    -fx-background-color: #1f2025;
    -fx-background-radius: 10;
}

.label {
    -fx-text-fill: #989aa6;
}

#creditCard {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 7, 0.2, 0, 0);
}

/*#creditCard:hover {*/
/*    -fx-translate-y: -3;*/
/*    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0.3, 0, 0);*/
/*}*/