
#categoryLabel {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

#budgetBox {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 7, 0.2, 0, 0);
    -fx-background-color: white;
}

#budgetBox:hover {
    -fx-translate-y: -3;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0.3, 0, 0);
}

#updateButton, #deleteButton:hover {
    -fx-cursor: hand;
}

#progressBar:range1 .bar1 {
    -fx-fill: #07b907;
}

#progressBar:range2 .bar1 {
    -fx-fill: #b6b61e;
}

#progressBar:range3 .bar1 {
    -fx-fill: #d92f2f;
}

.body {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 4, 0.2, 0, 0);
}

#addBudgetButton {
    -fx-border-color: #9FE2BF;
    -fx-border-width: 3;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 14;
}

#addBudgetButton:hover {
    -fx-background-color:  #9FE2BF;
    -fx-text-fill: white;
    -fx-cursor: hand;
}