.sideBox {
    -fx-background-color: #f6ede6;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

/*.sideBox:hover {*/
/*    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0.3, 0, 0);*/
/*}*/

.budget-series .chart-bar {
    -fx-bar-fill: red;
}

.spending-series .chart-bar {
    -fx-bar-fill: blue;
}

.rightSide {
    -fx-background-color:  #FAF5F1;
    -fx-border-radius: 20 0 0 20;
    -fx-background-radius: 20 0 0 20;
}
