#dbTransactionContainer {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, grey, 0, 0, 0, 3);
    -fx-border-color: #9FE2BF;
    -fx-border-radius: 10;
}