.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #9FE2BF;
}

#financeBox:hover {
    -fx-cursor: hand;
}

.timeFilter:hover,
.timeFilter:focused{
    -fx-background-color: #9FE2BF;
}

#addButton {
    -fx-border-color: #9FE2BF;
    -fx-border-width: 3;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 14;
}

#addButton:hover {
    -fx-background-color:  #9FE2BF;
    -fx-text-fill: white;
}

.totalLabel {
    -fx-background-color: #f4f4f4;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}